@font-face {
    font-family: 'Noto Sans SemCond SemBd';
    src: url('NotoSans-SemiCondensedSemiBold.eot');
    src: url('NotoSans-SemiCondensedSemiBold.eot?#iefix') format('embedded-opentype'),
        url('NotoSans-SemiCondensedSemiBold.woff2') format('woff2'),
        url('NotoSans-SemiCondensedSemiBold.woff') format('woff'),
        url('NotoSans-SemiCondensedSemiBold.ttf') format('truetype'),
        url('NotoSans-SemiCondensedSemiBold.svg#NotoSans-SemiCondensedSemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans SemCond Blk';
    src: url('NotoSans-SemiCondensedBlackItalic.eot');
    src: url('NotoSans-SemiCondensedBlackItalic.eot?#iefix') format('embedded-opentype'),
        url('NotoSans-SemiCondensedBlackItalic.woff2') format('woff2'),
        url('NotoSans-SemiCondensedBlackItalic.woff') format('woff'),
        url('NotoSans-SemiCondensedBlackItalic.ttf') format('truetype'),
        url('NotoSans-SemiCondensedBlackItalic.svg#NotoSans-SemiCondensedBlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans SemCond Blk';
    src: url('NotoSans-SemiCondensedBlack.eot');
    src: url('NotoSans-SemiCondensedBlack.eot?#iefix') format('embedded-opentype'),
        url('NotoSans-SemiCondensedBlack.woff2') format('woff2'),
        url('NotoSans-SemiCondensedBlack.woff') format('woff'),
        url('NotoSans-SemiCondensedBlack.ttf') format('truetype'),
        url('NotoSans-SemiCondensedBlack.svg#NotoSans-SemiCondensedBlack') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans';
    src: url('NotoSans-Regular.eot');
    src: url('NotoSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('NotoSans-Regular.woff2') format('woff2'),
        url('NotoSans-Regular.woff') format('woff'),
        url('NotoSans-Regular.ttf') format('truetype'),
        url('NotoSans-Regular.svg#NotoSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans SemBd';
    src: url('NotoSans-SemiBold.eot');
    src: url('NotoSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('NotoSans-SemiBold.woff2') format('woff2'),
        url('NotoSans-SemiBold.woff') format('woff'),
        url('NotoSans-SemiBold.ttf') format('truetype'),
        url('NotoSans-SemiBold.svg#NotoSans-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans SemBd';
    src: url('NotoSans-SemiBoldItalic.eot');
    src: url('NotoSans-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('NotoSans-SemiBoldItalic.woff2') format('woff2'),
        url('NotoSans-SemiBoldItalic.woff') format('woff'),
        url('NotoSans-SemiBoldItalic.ttf') format('truetype'),
        url('NotoSans-SemiBoldItalic.svg#NotoSans-SemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans SemCond';
    src: url('NotoSans-SemiCondensed.eot');
    src: url('NotoSans-SemiCondensed.eot?#iefix') format('embedded-opentype'),
        url('NotoSans-SemiCondensed.woff2') format('woff2'),
        url('NotoSans-SemiCondensed.woff') format('woff'),
        url('NotoSans-SemiCondensed.ttf') format('truetype'),
        url('NotoSans-SemiCondensed.svg#NotoSans-SemiCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans SemCond';
    src: url('NotoSans-SemiCondensedBoldItalic.eot');
    src: url('NotoSans-SemiCondensedBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('NotoSans-SemiCondensedBoldItalic.woff2') format('woff2'),
        url('NotoSans-SemiCondensedBoldItalic.woff') format('woff'),
        url('NotoSans-SemiCondensedBoldItalic.ttf') format('truetype'),
        url('NotoSans-SemiCondensedBoldItalic.svg#NotoSans-SemiCondensedBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans SemCond';
    src: url('NotoSans-SemiCondensedBold.eot');
    src: url('NotoSans-SemiCondensedBold.eot?#iefix') format('embedded-opentype'),
        url('NotoSans-SemiCondensedBold.woff2') format('woff2'),
        url('NotoSans-SemiCondensedBold.woff') format('woff'),
        url('NotoSans-SemiCondensedBold.ttf') format('truetype'),
        url('NotoSans-SemiCondensedBold.svg#NotoSans-SemiCondensedBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

