@font-face {
  font-family: "Noto Sans SemCond SemBd";
  src: url("font/NotoSans-SemiCondensedSemiBold.eot");
  src: url("font/NotoSans-SemiCondensedSemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("font/NotoSans-SemiCondensedSemiBold.woff2") format("woff2"),
    url("font/NotoSans-SemiCondensedSemiBold.woff") format("woff"),
    url("font/NotoSans-SemiCondensedSemiBold.ttf") format("truetype"),
    url("font/NotoSans-SemiCondensedSemiBold.svg#NotoSans-SemiCondensedSemiBold")
      format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans SemCond Blk";
  src: url("font/NotoSans-SemiCondensedBlackItalic.eot");
  src: url("font/NotoSans-SemiCondensedBlackItalic.eot?#iefix")
      format("embedded-opentype"),
    url("font/NotoSans-SemiCondensedBlackItalic.woff2") format("woff2"),
    url("font/NotoSans-SemiCondensedBlackItalic.woff") format("woff"),
    url("font/NotoSans-SemiCondensedBlackItalic.ttf") format("truetype"),
    url("font/NotoSans-SemiCondensedBlackItalic.svg#NotoSans-SemiCondensedBlackItalic")
      format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans SemCond Blk";
  src: url("font/NotoSans-SemiCondensedBlack.eot");
  src: url("font/NotoSans-SemiCondensedBlack.eot?#iefix")
      format("embedded-opentype"),
    url("font/NotoSans-SemiCondensedBlack.woff2") format("woff2"),
    url("font/NotoSans-SemiCondensedBlack.woff") format("woff"),
    url("font/NotoSans-SemiCondensedBlack.ttf") format("truetype"),
    url("font/NotoSans-SemiCondensedBlack.svg#NotoSans-SemiCondensedBlack")
      format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans";
  src: url("font/NotoSans-Regular.eot");
  src: url("font/NotoSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("font/NotoSans-Regular.woff2") format("woff2"),
    url("font/NotoSans-Regular.woff") format("woff"),
    url("font/NotoSans-Regular.ttf") format("truetype"),
    url("font/NotoSans-Regular.svg#NotoSans-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans SemBd";
  src: url("font/NotoSans-SemiBold.eot");
  src: url("font/NotoSans-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("font/NotoSans-SemiBold.woff2") format("woff2"),
    url("font/NotoSans-SemiBold.woff") format("woff"),
    url("font/NotoSans-SemiBold.ttf") format("truetype"),
    url("font/NotoSans-SemiBold.svg#NotoSans-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans SemBd";
  src: url("font/NotoSans-SemiBoldItalic.eot");
  src: url("font/NotoSans-SemiBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("font/NotoSans-SemiBoldItalic.woff2") format("woff2"),
    url("font/NotoSans-SemiBoldItalic.woff") format("woff"),
    url("font/NotoSans-SemiBoldItalic.ttf") format("truetype"),
    url("font/NotoSans-SemiBoldItalic.svg#NotoSans-SemiBoldItalic")
      format("svg");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans SemCond";
  src: url("font/NotoSans-SemiCondensed.eot");
  src: url("font/NotoSans-SemiCondensed.eot?#iefix") format("embedded-opentype"),
    url("font/NotoSans-SemiCondensed.woff2") format("woff2"),
    url("font/NotoSans-SemiCondensed.woff") format("woff"),
    url("font/NotoSans-SemiCondensed.ttf") format("truetype"),
    url("font/NotoSans-SemiCondensed.svg#NotoSans-SemiCondensed") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans SemCond";
  src: url("font/NotoSans-SemiCondensedBoldItalic.eot");
  src: url("font/NotoSans-SemiCondensedBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("font/NotoSans-SemiCondensedBoldItalic.woff2") format("woff2"),
    url("font/NotoSans-SemiCondensedBoldItalic.woff") format("woff"),
    url("font/NotoSans-SemiCondensedBoldItalic.ttf") format("truetype"),
    url("font/NotoSans-SemiCondensedBoldItalic.svg#NotoSans-SemiCondensedBoldItalic")
      format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans SemCond";
  src: url("font/NotoSans-SemiCondensedBold.eot");
  src: url("font/NotoSans-SemiCondensedBold.eot?#iefix")
      format("embedded-opentype"),
    url("font/NotoSans-SemiCondensedBold.woff2") format("woff2"),
    url("font/NotoSans-SemiCondensedBold.woff") format("woff"),
    url("font/NotoSans-SemiCondensedBold.ttf") format("truetype"),
    url("font/NotoSans-SemiCondensedBold.svg#NotoSans-SemiCondensedBold")
      format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body,
input,
select {
  font-family: "Noto Sans", Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 1.4;
  color: #404040;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  flex-wrap: wrap;
}
a {
  text-decoration: none;
  color: #404040;
  padding: 2rem;
}

.header__main--top-sectioncol-title:not(.grey-block-invert) {
  font-family: "Noto Sans SemCond Blk";
  font-style: italic;
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  font-size: 1.25rem;
  position: relative;
}
