body {
  display: flex;
  width: 100%;
  min-width: 320px;
  max-width: 1920px;
  font-size: 1.5rem;
}
.header__main--top,
.main__content--buttonbox {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  &-sectioncol {
    width: 100%;
    text-align: center;
  }

  &-female-groceries {
    background-image: url(../img/body__background--female-groceries.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    text-align: left;
  }
}

.header__main--top-sectioncol-heading-h1,
.header__main--top-sectioncol-heading-h2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  //text-align: left;
  margin: 2rem 1rem;
  text-align: center;
}

.logo-left {
  display: block;
  width: calc(100% - 2rem);
  height: auto;
  margin: 4rem 1rem;
}

.header__main--top-sectioncol-banner {
  background-image: url(../img/content__background--hero-generic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: bottom center;
  height: 170px;
  display: flex;
  align-items: center;
  justify-content: center;
  & > span {
    + img {
      vertical-align: middle;
      height: 3rem;
    }
  }
  &::before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    content: "";
    background: rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100%;
    z-index: 0;
  }
}

.header__main--top-sectioncol-heading-h2 span {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 0rem;
}

.main__content--button {
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  color: white;
  font-size: 1.5rem;
  display: block;
  font-weight: 600;
  background: #c3151d;
  text-transform: uppercase;
  box-sizing: border-box;
  margin: 4rem;
  line-height: 3rem;
  height: 4rem;
  text-align: center;
}

[class^="header__main--top-icon-"] {
  position: relative;
  display: inline-block;

  &::before {
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
    display: inline-block;
    line-height: 5.5rem;
    content: "";
    background: #363636;
    background: transparent;
    margin-right: -6rem;
    margin-left: 3rem;
    vertical-align: middle;
  }
  img {
    width: auto;
    height: 5.5rem;
    line-height: 5.5rem;
    position: relative;
    margin-right: 1rem;
    margin: 0 auto;
    display: block;
  }
}

.header__main--top-icon-order img {
  width: 4.5rem;
  //  margin-right: 2rem;
}

select {
  background: #f2f2f2;
  border: 1.5px solid #adadad;
  margin: 10px;
  padding: 10px 1rem;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  text-align-last: center;
  width: 30%;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 0.35rem;
  background-size: 3.5rem;
  margin-right: 2rem;
  padding: 1rem;
  padding-right: 2rem;
  &::-ms-expand {
    display: none;
  }

  option {
    text-align: left;
  }
}

.header__main--top-sectioncol-servicelist {
  font-size: 1rem;
  list-style-type: none;
  text-align: center;
  margin-bottom: 1rem;
  li {
    display: inline-block;
    list-style-position: initial;
    max-width: 33%;
    vertical-align: top;
    :not(:last-child) {
      margin-right: 1rem;
    }
  }
}

.header__main--top-sectioncol-servicelist-wrap {
  min-width: 50%;
  display: block;
  li {
    display: block;
    text-align: center;
    max-width: 21rem;
    [class^="header__main--top-icon-"]::before {
      width: 6rem;
      height: 6rem;
      border-radius: 6rem;
      display: inline-block;
      line-height: 6.5rem;
      content: "";
      background: #dadbdb;
      margin-right: -7rem;
      margin-left: -6rem;
      margin-bottom: -10rem;
      vertical-align: middle;
    }

    .header__main--top-icon-wallet {
      img {
        bottom: 1rem;
        left: 0.25rem;
      }
    }

    img {
      width: 90px;
      height: auto;
      display: block;
      line-height: 6.5rem;
      position: relative;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 55px;
    }
  }
  &.vertical {
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    li {
      display: inline-block;
      width: auto;
      vertical-align: top;
      margin-top: 3rem;
      margin-bottom: 5rem;
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }
}

.header__main--top-sectioncol-title {
  position: relative;
  img {
    height: 3.75rem;
    width: auto;
    vertical-align: middle;
  }
  big {
    font-size: 2.75rem;
  }
  &.ezakupy {
    span {
      font-size: 1.75rem;
    }
    img {
      height: 2rem;
      vertical-align: -13%;
    }
  }
  &.grey-block {
    background: #dadbdb;
    box-sizing: border-box;
    color: #2b2f31;
    font-size: 2rem;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
  }

  &.grey-block-invert {
    color: #dadbdb;
    box-sizing: border-box;
    background: #2b2f31;
    font-size: 1rem;
    padding: 2rem;
    display: flex;
    align-items: center;
  }
  &.smaller {
    width: 18rem;
    height: 15rem;
    //position: absolute !important;
  }
  &.smaller2 {
    //width: 18rem;
    //height: 18rem;
    position: absolute !important;
    right: 20vw;
    bottom: 0;
    padding: 60px 30px;
  }
  &.smaller3 {
    padding: 60px 30px;
    position: absolute !important;
    bottom: -7vw;
  }
  &.bigger {
    padding: 60px 30px;
    width: auto;
    max-width: 400px;
    &.diffR {
      left: -20vw;
    }
  }
}

.main__content--buttonbox-sectioncol.groceries {
  background-image: url(../img/content__background--hero-generic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -45vw;
  height: 40vw;
  position: relative;
}

.main__content--buttonbox-sectioncol {
  &.veggies img,
  &.bread img {
    width: 100%;
    height: auto;
  }

  &.veggies,
  &.bread,
  &.meat {
    background-image: url(../img/content__background--hero-meat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 25vw;
  }

  &.veggies {
    background-image: url(../img/content__background--hero-veggies.jpg);
    background-size: 75%;
    background-position: left center;
    display: block;
    margin-bottom: 12vw;
    position: relative;
    height: 30vw;
  }
  &.bread {
    background-image: url(../img/content__background--hero-bread.jpg);
    background-size: cover;
    background-position: 20vw center;
    margin: 10vw 0;
    height: 30vw;
    position: relative;
  }
}

.text-left {
  text-align: left;
}

.ml-a {
  margin-left: auto;
}

.m-special {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.m-special-invert {
  margin-top: -6rem;
  margin-bottom: 4rem;
}

.mt-m {
  margin-top: 18vw;
}

.ml-s {
  margin-left: 2rem;
}

.mob-spacer {
  height: 32rem;
}

nav {
  margin-bottom: 2rem;
}

.header__main--top-sectioncol-servicelist-wrap li {
  margin: 0 auto;
}

.mb-neg-m {
  &.main__content--button {
    margin-bottom: -2rem;
    position: relative;
    z-index: 999;
  }
}

.relative {
  position: relative;
}

.header__main--top-sectioncol-servicelist {
  font-size: 1rem;
  list-style-type: none;
  text-align: left;
  margin-bottom: 1rem;
  li {
    display: inline-block;
    list-style-position: initial;
    width: auto;
    max-width: none;
    :not(:last-child) {
      margin-right: 1rem;
    }
  }
}

[class^="header__main--top-icon-"] {
  position: relative;
  display: inline-block;
  &::before {
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
    display: inline-block;
    line-height: 5.5rem;
    content: "";
    background: #363636;
    background: transparent;
    margin-right: -6rem;
    margin-left: 3rem;
    vertical-align: middle;
  }
  img {
    width: auto;
    height: 5.5rem;
    line-height: 5.5rem;
    position: relative;
    margin-right: 0;
    vertical-align: middle;
    display: inline-block;
  }
}

.header__main--top-sectioncol-servicelist {
  font-size: 1rem;
  list-style-type: none;
  text-align: center;
}

.header__main--top-sectioncol-title:not(.grey-block-invert) {
  font-family: "Noto Sans SemCond Blk";
  font-style: italic;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 40px;
  position: relative;
  line-height: 1em;
  &.diff {
    position: absolute;
    bottom: -30px;
    right: 10vw;
    font-size: 40px;
    width: auto;
    height: auto;
    span {
      padding: 50px 20px;
    }
  }
  &.diff2 {
    top: 5vw;
    right: 20vw;
    width: auto;
    height: auto;
    display: block;
    position: absolute;
    padding: 80px 30px;
  }
}

.m-special {
  margin-top: 4rem;
  margin-bottom: -6rem;
  bottom: -30vw;
  z-index: 999;
}

.main__content--button {
  border-radius: 2rem;
  padding: 0.5rem 2rem;
  color: white;
  font-size: 1.75rem;
  display: block;
  font-weight: 600;
  background: #c3151d;
  text-transform: uppercase;
  box-sizing: border-box;
  margin: 4rem;
  line-height: 3rem;
  height: 4rem;
  text-align: center;
}

.header__main--top-sectioncol-heading-h2 span {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 4rem;
}

.header__main--top-sectioncol-heading-h1,
.header__main--top-sectioncol-heading-h2,
.logo-left {
  text-transform: uppercase;
  font-size: 1.5vw;
  text-align: center;
  margin: 1.5vw 0 0;
  color: #cecece;
  &.diff{
    margin-top: -10px;
  }
  &.center{
    margin: 15px auto;
  }
}
.logo-left {
  display: block;
  width: 30%;
  height: auto;
}
.header__main--top-sectioncol-title {
  position: relative;
  img {
    height: 3.75rem;
    width: auto;
    vertical-align: middle;
  }
  big {
    font-size: 2.75rem;
  }
  &.ezakupy {
    span {
      font-size: 4rem;
    }
    img {
      height: 4rem;
      vertical-align: middle;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media only screen and (min-width: 768px) {
  .header__main--top-sectioncol-servicelist-wrap li {
    margin-right: auto;
    margin-left: 0;
    width: 300px;
    display: inline-block;
  }

  [class^="header__main--top-icon-"] {
    &::before {
      background: #363636;
      background: transparent;
    }
  }

  .main__content--buttonbox-female-groceries {
    background-size: contain;
    background-position: 110% 100%;
    position: absolute;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 2rem;
    height: auto;
  }
  .container-m {
    display: block;
    margin: 0 auto;
    width: 95%;
  }

  .container-xl {
    display: block;
    margin: 0 auto;
    width: 95%;
  }

  .mb-neg-m {
    margin-bottom: -4rem;
    &.main__content--button {
      margin-bottom: -2rem;
      position: relative;
    }
  }

  .mt-neg-xxl {
    margin-top: -14rem;
  }
  .mt-neg-xl {
    margin-top: -10rem;
  }
  .mt-neg-l {
    margin-top: -8rem;
  }
  .mt-neg-m {
    margin-top: -17vw;
  }

  .mob-spacer {
    height: 0;
  }
}
.full{
  height: 100vh;
  position: relative;
  display: block;
  width: 100vw;
  &.backIMG{
    background-image: url(../img/content__background--hero-generic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -21vw -40vw;
  }
  .abs{
    position: absolute;
    top: 50%;
    left: 3vw;
    font-family: "Noto Sans SemCond Blk", Arial, sans-serif;
    font-size: 2.5vw;
    line-height: 1.1em;
    color: white;
    text-transform: uppercase;
  }
  .half{
    position: relative;
    height: 100%;
    width: 50vw;
    float: right;
    display: block;
    .box{
      width: 33.333333333%;
      height: 33.333333333%;
      display: inline-flex;
      float: left;
      overflow: hidden;
      &.meat {
        background-image: url(../img/content__background--hero-meat.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
      }
      &.veggies {
        background-image: url(../img/content__background--hero-veggies.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
      }
      &.bread {
        background-image: url(../img/content__background--hero-bread.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
      }
      &.white{
        background-color: #e2e2e2;
        color: #2b2f31 !important;
      }
      &.black{
        background-color: #2b2f31;
        color: #fff !important;
      }
      &.large{
        width: 66.66666666%;
      }
      span{
        color: #fff;
        font-family: "Noto Sans SemCond Blk", Arial, sans-serif;
        position: relative;
        text-align: left;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1.1em;
        text-transform: uppercase;
        &.black{
          color: #2b2f31;
        }
        &.small{
          font-size: 14px;
          text-transform: none;
          font-family: "Noto Sans", Arial, sans-serif;
        }
        &.medium{
          font-size: 1.8vw;
        }
        &.large{
          font-size: 45px;
        }
        &.extraLarge{
          font-size: 3vw;
        }
      }

    }
  }
}

// Large devices (desktops, 992px and up)
@media only screen and (min-width: 992px) {
  .main__content--buttonbox-female-groceries {
    background-size: 88%;
    background-position: 72% 100%;
    position: absolute;
    top: 0;
    left: 43%;
    right: 0;
    bottom: 2rem;
    height: auto;
  }
  .container-m {
    display: block;
    margin: 0 auto;
    width: 85%;
  }

  .container-xl {
    display: block;
    margin: 0 auto;
    width: 95%;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media only screen and (min-width: 1200px) {
  .container-m {
    display: block;
    margin: 0 auto;
    width: 70%;
  }

  .container-xl {
    display: block;
    margin: 0 auto;
    width: 75%;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media only screen and (max-width: 1400px) {
  .header__main--top-sectioncol-heading-h1,
  .header__main--top-sectioncol-heading-h2,
  .logo-left {
    font-size: 2.5vw;
  }
  .m-special {
    bottom: -22vw;
  }
  .main__content--buttonbox-sectioncol.groceries {
    height: 55vw;
    background-position: center -39vw;
  }
  .header__main--top-sectioncol-title:not(.grey-block-invert) {
    font-size: 3.5vw;
    padding: 50px 30px;
  }
  .header__main--top-sectioncol-title {
    &.smaller3 {
      padding: 50px 30px;
      font-size: 3.5vw;
    }
    &.bigger {
      max-width: 31vw;
      &.diffR {
        //left: -10vw;
        padding: 50px 30px;
      }
    }
  }
  .header__main--top-sectioncol-title:not(.grey-block-invert) {
    &.diff {
      font-size: 3.5vw;
      padding: 0.8vw;
    }
    &.diff2 {
      font-size: 3.5vw;
      padding: 50px 30px;
    }
  }
  .header__main--top-sectioncol-title.bigger {
    padding: 7vw 25px;
  }
}

@media only screen and (max-width: 991px) {
  .full{
    min-height: 400px;
    height: auto;
    &.bigger{
      height: 600px;
    }
    &.backIMG{
      background-position: center;
    }
    .half{
      width: 100vw;
      .box span{
        &.small{
          font-size: 12px;
        }
        &.medium{
          font-size: 3vw;
        }
        &.large{
          font-size: 45px;
        }
        &.extraLarge{
          font-size: 6vw;
        }
      }
    }
    .abs{
      font-size: 5vw;
    }

  }
  .header__main--top-sectioncol-title.bigger {
    padding: 5vw 25px;
    left: 80px;
    top: 40px;
  }
  .m-special {
    bottom: -19vw;
    left: 80px;
  }
  .header__main--top-sectioncol-title.smaller {
    width: 33vw;
  }
  .header__main--top-sectioncol-title:not(.grey-block-invert).diff2 {
    right: 10vw;
  }
  .header__main--top-sectioncol-title.smaller2 {
    right: 10vw;
  }
  .mt-m {
    margin-top: 8vw;
  }
  .header__main--top-sectioncol-servicelist li {
    width: 31%;
    text-align: center;
  }
  [class^="header__main--top-icon-"] img {
    text-align: center;
    margin: 0 auto;
    display: block;
  }
  [class^="header__main--top-icon-"]::before {
    display: none;
  }
  .header__main--top-sectioncol-heading-h1,
  .header__main--top-sectioncol-heading-h2,
  .logo-left {
    font-size: 3.2vw;
  }
}

@media only screen and (max-width: 768px) {

  .scrollTo{
    width: 100vw;
    text-align: center;
    display: block;
    position: relative;
  }
  .header__main--top-sectioncol-heading-h1,
  .header__main--top-sectioncol-heading-h2,
  .logo-left {
    font-size: 3.4vw;
  }
  .header__main--top-sectioncol-heading-h2 span {
    width: auto;
    height: auto;
  }
  select {
    font-size: 16px;
    padding: 10px;
    width: 95vw;
    margin: 10px auto;

  }
  .header__main--top-female-groceries,
  .main__content--buttonbox-female-groceries {
    position: relative;
    display: block;
    width: 100%;
    height: 118vw;
    margin-bottom: -100px;
  }
  .main__content--buttonbox-sectioncol.groceries {
    height: 60vw;
    background-position: center -40vw;
  }
  [class^="header__main--top-icon-"] {
    padding-bottom: 20px;
    font-size: 16px;
  }
  .header__main--top-sectioncol-servicelist-wrap {
    width: 100%;
    &.vertical {
      background: rgba(0, 0, 0, 1);
      li {
        width: 30%;
        margin: 40px 0;
      }
    }
  }
  .header__main--top-sectioncol-title.bigger {
    padding: 5vw 25px;
    left: 0;
    top: -15vw;
    width: 100%;
    position: relative;
    max-width: 100vw;
    br {
      display: none;
    }
  }
  .header__main--top-sectioncol-servicelist-wrap
    li
    [class^="header__main--top-icon-"]::before {
    width: 6rem;
    height: 6rem;
    border-radius: 4rem;
    display: inline-block;
    line-height: -2.5rem;
    content: "";
    background: #dadbdb;
    margin-right: -8rem;
    margin-left: -8rem;
    margin-bottom: -11rem;
    vertical-align: middle;
  }
  .header__main--top-sectioncol-servicelist-wrap li img {
    height: 6.5rem;
  }
  .header__main--top-sectioncol-title:not(.grey-block-invert) {
    font-size: 5.5vw;
    padding: 30px 15px;
  }
  .mt-m {
    margin-top: 16vw;
  }
  .main__content--buttonbox-sectioncol.bread {
    margin: 37vw 0 23vw;
    background-position: center;
    height: 40vw;
  }
  .header__main--top-sectioncol-title:not(.grey-block-invert) {
    &.diff {
      font-size: 5.5vw;
      bottom: -19vw;
    }
    &.diff2 {
      right: 0;
      font-size: 6.5vw;
      top: -11vw;
      padding: 30px 15px;
    }
  }
  .header__main--top-sectioncol-title.ezakupy {
    span {
      font-size: 11vw;
    }
    img {
      max-width: 85%;
    }
  }
  .m-special {
    bottom: -4vw;
    left: 0;
  }
  .header__main--top-sectioncol-title {
    &.smaller {
      width: 400px;
      height: auto;
      padding: 20px;
      br {
        display: none;
      }
    }
    &.smaller2 {
      font-size: 6vw;
      bottom: -12vw;
      right: 0;
    }
    &.smaller3 {
      font-size: 6vw;
      bottom: -40vw;
    }
  }
  .main__content--buttonbox-sectioncol.veggies {
    background-size: 100%;
    height: 60vw;
    margin-top: 7vw;
    margin-bottom: 75vw;
  }
  .header__main--top-sectioncol-title.bigger.diffR {
    left: 0;
    top: 4vw;
    padding: 30px 15px;
  }
}

@media only screen and (max-width: 600px) {
  .header__main--top-sectioncol-heading-h1,
  .header__main--top-sectioncol-heading-h2,
  .logo-left {
    font-size: 5.6vw;
  }
  .mb-neg-m.main__content--button {
    margin: -2rem 1rem;
    font-size: 5vw;
  }
  [class^="header__main--top-icon-"] {
    font-size: 14px;
    img {
      height: 4.5rem;
    }
  }
  .header__main--top-sectioncol-servicelist-wrap.vertical li {
    margin: 0;
  }
  .header__main--top-sectioncol-servicelist-wrap
    li
    [class^="header__main--top-icon-"]::before {
    width: 4rem;
    height: 4rem;
    border-radius: 3rem;
  }
  .header__main--top-sectioncol-servicelist-wrap li img {
    height: 4.5rem;
    padding-top: 23px;
  }
  [class^="header__main--top-icon-"] {
    font-size: 12px;
  }
  .main__content--buttonbox-sectioncol.groceries {
    height: 80vw;
    background-position: center -35vw;
  }
  .mt-m {
    margin-top: 27vw;
  }
  .main__content--buttonbox-sectioncol.bread {
    height: 70vw;
    margin: 37vw 0 22vw;
  }
  .main__content--buttonbox-sectioncol.veggies {
    height: 70vw;
    margin-bottom: 70vw;
  }
  .m-special {
    bottom: -28vw;
  }
  .header__main--top-sectioncol-title.grey-block-invert {
    font-size: 14px;
    width: 100%;
  }
  .main__content--buttonbox-sectioncol.meat {
    height: 60vw;
  }
  .header__main--top-sectioncol, .main__content--buttonbox-sectioncol{
    margin-bottom: 60px;
  }
  .main__content--button{
    bottom: -65px;
  }
}
@media only screen and (max-width: 420px) {
  .main__content--buttonbox-sectioncol.bread {
    height: 125vw;
    margin: 37vw 0 42vw;
  }

  .m-special {
    bottom: -70vw;
  }

  .main__content--buttonbox-sectioncol.veggies {
    height: 110vw;
    margin-bottom: 120vw;
  }
  .header__main--top-sectioncol-title {
    .smaller3 {
      bottom: -28vw;
    }
    .smaller2 {
      bottom: -7vw;
    }
  }
}
